img {
    height: 300px;
}
h1 {
    font-family: 'Roboto Mono', monospace;

}
p {
    font-family: 'Playfair Display', serif;
}
h2 {
    font-family: 'Indie Flower', cursive;
    font-family: 'Mali', cursive;
}
li {
    font-family: 'Oswald', sans-serif;
}






